/** q.css */

@import url(http://fonts.googleapis.com/css?family=Lato);

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 55px;
  padding: 0;

  font-family: 'Lato', sans-serif;
  color: white;
  background: url('/assets/img/space.png');

  line-height: 150%;
}

/** general settings */

a {
  color: #E57373;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/** nav */

nav {
  padding: 20px 0 20px 0;

  background: black;
  font-size: large;
}

nav div.nav-wrapper {
  width: 75%;
  margin: 0 auto 0 auto;
}

nav a.brand-logo {
  padding: 0 10px 0 10px;
}

nav ul {
  margin: 0;
  padding: 0;

  float: right;
}

nav ul li {
  display: inline;
  margin: 0 10px 0 10px;
}

/** prez-items */

div.prez-items {
  width: 1337px;
  margin: 75px auto 75px auto;
  padding: 0;
}

div.prez-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;

  width: 400px;
  height: 300px;

  padding: 0 10px 0 10px;
  margin: 10px 10px 10px 10px;

  background: rgba(0, 0, 0, 0.8);
  color: white;
}

div.prez-item h1 {
  font-size: large;
  text-align: center;
}

/** footer */

footer {
  padding: 15px 0 15px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}


/** utils */

.container {
  padding: 0 10px 0 10px;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
}

@media screen and (max-width: 1400px) {
  /** responsive prez items? hell yeah */
  div.prez-item {
    display: block;
    width: auto;
    height: 100%;
  }
  div.prez-items {
    width: auto;
  }
}

@media screen and (max-width: 710px) {
  nav {
    text-align: center;
  }

  nav ul {
    padding: 10px 0;
    float: none;
  }
}
