/** q.css */

@import url(http://fonts.googleapis.com/css?family=Khula);

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: url('/assets/img/space.png') no-repeat;
  font-family: 'Khula', sans-serif;
  color: #d6d6ec;
}

header {
  background: #030423;
  background: url('/assets/img/header.png');
}

header .social {
  float: right;
  padding: 20px 15px 20px 15px;
}

header .social p {
  padding: 0;
  margin: 0;
}

header h1 {
  padding: 15px 10px;
  margin: 0;
  font-size: 25px;
}

header h1 a {
  text-decoration: none;
  color: #d6d6ec;
  padding: 15px 10px;
}

header h1 a:hover {
  background: #03041c;
}

footer {
  background: url('/assets/img/footer.png');
  height: 55px;
  padding: 0px 10px 0 10px;
  opacity: 0.8;
}

footer p {
  padding: 15px 0 15px 0;
  margin: 0;
  height: 25px;
}

div.wrapper {
  min-height: 100%;
  height: auto !important; 
  height: 100%;
  margin: 0 auto -55px;
}

div#content {
  padding: 20px;
}

div#content h1 {
  margin: 15px 0 5px 0;
  padding: 0;
  font-size: 20px;
}

div#content p {
  margin: 0;
  padding: 0;
}

div#content a, footer a, header a {
  color: #cc9ed6;
  text-decoration: none;
}

div#content a:hover, footer a:hover, header a:hover {
  text-decoration: underline;
}
